---
layout: null  # standalone Bootstrap page; don't wrap in the site theme
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="STAMINA Working Group - Social Tech And ModellIng for kNowledge & Action">
  <meta name="author" content="">
  <title>STAMINA Working Group</title>

  <!-- Stylesheets -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
  <link href="css/scrolling-nav.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/plain-style.css">
  <link rel="stylesheet" type="text/css" href="css/bibbase_css.css">

  <!-- Inline Styles -->
  <style>
    .tooltip-container:hover .tooltip-box {
      opacity: 1 !important;
      visibility: visible !important;
    }
  </style>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <!-- ============================================================
       NAVIGATION
       ============================================================ -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top"></a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="hidden"><a class="page-scroll" href="#page-top"></a></li>
          <li><a class="page-scroll" href="#about">About</a></li>
          <li><a class="page-scroll" href="#schedule">Upcoming Talks</a></li>
          <li><a class="page-scroll" href="#past-talks">Past Talks</a></li>
          <li><a class="page-scroll" href="#organizers">Organizers</a></li>
          <li><a href="https://www.complexdatalab.com">ComplexDataLab</a></li>
        </ul>
      </div>

    </div>
  </nav>

  <br/><br/><br/><br/>

  <!-- ============================================================
       HEADER / HERO IMAGE
       ============================================================ -->
  <section class="some-section">

    <div class="header-banner">
      <!-- Overlay Title -->
      <div class="header-title">
        <img src="images/logo.png" width="100%" alt="logo" style="max-width: 400px; width: 80%;"/>
        <!-- <h1><b>STAMINA</b> <br> Working Group</h1>
        <h4><b>S</b>ocial <b>T</b>ech <b>A</b>nd <b>M</b>odell<b>I</b>ng <br> for k<b>N</b>owledge & <b>A</b>ction</h4> -->
      </div>

      <!-- Info Tooltip (bottom-right) -->
      <div class="tooltip-container">
        <a href="https://vimeo.com/244171658?fl=pl&fe=cm#t=20m15s" class="tooltip-trigger">?</a>
        <div class="tooltip-box">
            Learn about STAMINA in the About section below. Interested in the background image?
            It's from the short film <a href="https://vimeo.com/244171658?fl=pl&fe=cm#t=20m15s">Delphi</a>.
        </div>
      </div>
    </div>

  <!-- ============================================================
       MEETING INFO (edit placeholders below)
       ============================================================ -->

    <div class="listing" style="clear:both;">
      <!-- <h4 style="text-align:center">Every [Day] at [Time] [Timezone]</h4> -->
      <!-- Uncomment and fill in as needed:
      <h5 style="text-align:center">Follow us on Twitter <a href="[TWITTER_LINK]">@stamina_rg</a></h5>
      <h5 style="text-align:center">Follow us on Bluesky <a href="[BLUESKY_LINK]">@stamina_rg.bsky.social</a></h5>
      <h5 style="text-align:center">Join our Slack: <a href="[SLACK_INVITE]">here</a></h5>
      -->
        <h5 style="text-align:center">Sign up to the mailing list to receive announcements about STAMINA talks and activities: <a href="https://docs.google.com/forms/d/e/1FAIpQLSe2_x4mGANiUu0j6L9S5Wjk26Kk6q1vdQqsccaoM4Cfb-GMlg/viewform?usp=dialog" target="_blank" rel="noopener noreferrer"><img src="https://img.shields.io/badge/signup%20form-8A2BE2"></a></h5>
        <h5 style="text-align:center">Suggest a speaker (yourself or others) to give a talk in our seminar series: <a href="https://docs.google.com/forms/d/e/1FAIpQLScNYXPRqVu7WRfRRcpOP2LwrdhRxumckq7uIuZ7J3HO7EdNKQ/viewform?usp=publish-editor" target="_blank" rel="noopener noreferrer"><img src="https://img.shields.io/badge/suggest%20form-8A2BE2"></a></h5>
        <!-- <h5 style="text-align:center">Register the event in your <a href="[GOOGLE_CALENDAR]">Google Calendar</a>.</h5> -->
         <h4 style="text-align:center">Research Talk Series 11am ET Tuesdays. Join Us: <a href="https://mcgill.zoom.us/j/87638787060"><img src=https://img.shields.io/badge/Zoom%20meeting%20link-8A2BE2></a></h4>

        <h5 style="text-align:center"> Visit our Youtube Playlist for past event recordings: <a href="https://www.youtube.com/playlist?list=PLYndSwsn9HYYl5enbCIXpuFAyqgFDe7_V" target="_blank" rel="noopener noreferrer"><img src="https://img.shields.io/badge/Youtube-Recording-orange"></a> </h5>
        <h5 style="text-align:center">Questions? Email us at <a href="mailto:stamina@complexdatalab.com">stamina@complexdatalab.com</a> </h5>
        <h5 style="text-align:center">Building our knowledge base on <img src="images/semble-logo.0tc.i06262vfa.svg" style="height: 1lh; vertical-align: middle;"><a href="https://semble.so/profile/stamina-workgroup.bsky.social">Semble</a></h5>
        <h5 style="text-align:center">Join the discussion on our <img src="images/Slack_icon_2019.svg.png" style="height: 1lh; vertical-align: middle;"><a href="https://join.slack.com/t/stamina-wg/shared_invite/zt-3z49egjoy-74fWM7aRp4UkhMCwbfmdSA">Slack</a>
  </div>
  </section>


  <!-- ============================================================
       SECTION: ABOUT
       ============================================================ -->
  <section id="about" class="some-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="listing" style="clear:both;">
            <h3 style="text-align:center">About STAMINA</h3>
            <p style="text-align:justify; font-size:16px; line-height:1.6;">
              Digital platforms and AI agents are increasingly shaping society. While these technologies contribute to epistemic and social crises, they may also help address them. Our goal is to build a research community focused on positive-outcome applications.
            </p>
            {% include stamina-diagram.html %}

            <br>
            <div class="box">
              <p style="text-align:justify; font-size:16px; line-height:1.6;">
                The working group on Social Tech And ModellIng for kNowledge & Action (STAMINA) brings together researchers and developers at the intersection of <em>social interaction technologies</em>, <em>social simulations</em>, and <em>AI agents/safety</em>, aiming to support pro-social and pro-truth interactions among humans and AI.
              </p>
            </div>
            <br>
            <p style="text-align:justify; font-size:16px; line-height:1.6;">
              If you're interested in how platforms shape behavior, how AI extends platform affordances, or how data-driven approaches can improve agent/platform design and governance, STAMINA offers an interdisciplinary forum. We welcome participants from computer science, social sciences, psychology, policy, and related fields, as well as industry and start-up researchers.
            </p>

            <p style="text-align:justify; font-size:16px; line-height:1.6;">
              We hold bimonthly seminars showcasing member research, with plans to add more interactive events as we learn the community's needs.
            </p>

            <p style="text-align:justify; font-size:16px; line-height:1.6;">
              This Working Group emerged from discussions at <a href="https://sites.google.com/view/social-sims-with-llms" target="_blank" rel="noopener noreferrer">LLM-based Social Simulation Workshop</a> at <a href="https://colmweb.org/">COLM</a> as a way to grow a vibrant research community with productive research norms, e.g. as outlined in the pre-print, <a href="papers/puelmatouzel_CloseEvalGap.pdf" target="_blank" rel="noopener noreferrer">Time to Close The Validation Gap in LLM Social Simulations</a> by members in the <a href="www.complexdatalab.com" target="_blank" rel="noopener noreferrer">Complex Data Lab</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- ============================================================
       TALKS
       Talks are generated from the Markdown files in /_stamina_talks/
       (one file per talk). To add a talk, copy _stamina_talks/_template.md.
       A talk is "upcoming" until the day after its date, based on when
       the site was last built.
       ============================================================ -->
  {%- assign today = site.time | date: "%Y%m%d" | plus: 0 -%}
  {%- assign all_talks = site.stamina_talks | sort: "date" -%}

  <!-- ============================================================
       SECTION: UPCOMING TALKS
       ============================================================ -->
  <section id="schedule" class="some-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="listing" style="clear:both;">

            <h3 style="text-align:center">Upcoming Talks</h3>
            {% assign n_upcoming = 0 %}
            {%- for talk in all_talks -%}
              {%- assign talk_day = talk.date | date: "%Y%m%d" | plus: 0 -%}
              {%- if talk_day >= today -%}
                {%- assign n_upcoming = n_upcoming | plus: 1 %}
{% include stamina-talk.html talk=talk %}
              {%- endif -%}
            {%- endfor %}
            {%- if n_upcoming == 0 %}
            <p style="text-align:center">The schedule for Fall 2026 will be announced soon.</p>
            {%- endif %}

            <br>

          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- ============================================================
       SECTION: PAST TALKS
       Grouped by term: Jan-Jun is "Spring", Jul-Dec is "Fall".
       Set `term:` in a talk's front matter to override.
       ============================================================ -->
  <section id="past-talks" class="some-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="listing" style="clear:both;">

            <h3 style="text-align:center">Past Talks (<a href="https://www.youtube.com/playlist?list=PLYndSwsn9HYYl5enbCIXpuFAyqgFDe7_V">Youtube Playlist</a>)</h3>
            {% assign current_term = "" %}
            {%- assign past_talks = all_talks | reverse -%}
            {%- for talk in past_talks -%}
              {%- assign talk_day = talk.date | date: "%Y%m%d" | plus: 0 -%}
              {%- if talk_day < today -%}
                {%- assign talk_month = talk.date | date: "%-m" | plus: 0 -%}
                {%- if talk.term -%}
                  {%- assign talk_term = talk.term -%}
                {%- elsif talk_month <= 6 -%}
                  {%- assign talk_term = talk.date | date: "%Y" | prepend: "Spring " -%}
                {%- else -%}
                  {%- assign talk_term = talk.date | date: "%Y" | prepend: "Fall " -%}
                {%- endif -%}
                {%- if talk_term != current_term %}
            <h4 style="text-align:center; margin-top:30px;">{{ talk_term }}</h4>
                  {%- assign current_term = talk_term -%}
                {%- endif %}
{% include stamina-talk.html talk=talk %}
            <br>
              {%- endif -%}
            {%- endfor %}

          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- ============================================================
       SECTION: ORGANIZERS
       ============================================================ -->
  <section id="organizers" class="some-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="listing" style="clear:both;">

            <h3 style="text-align:center">Organizers</h3>

            <div class="container">
              <div class="row">

                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                     ORGANIZER 1: Maximilian Puelma Touzel
                     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <div class="col-sm-4">
                  <div class="ratio ratio-4x3">
                    <div align="center">
                    <img src="images/Max.jpeg" width="40%" alt="Maximilian Puelma Touzel" class="img-rounded"/></div>
                    <div class="caption text-center">
                      <h4><a href="https://mptouzel.github.io">Maximilian Puelma Touzel</a></h4>
                    </div>
                    <p>
                      <u>Maximilian Puelma Touzel</u> is a Staff Research Scientist in the Applied Machine Learning
                      Research Team at Mila. He's interested modelling and influencing
                      the emergent dynamics of agentic systems.
                      <br>
                      <a href="https://mptouzel.github.io">Website</a>,
                      <a href="https://scholar.google.com/citations?user=-EHSwJ4AAAAJ&hl=en">Google Scholar</a>,
                      <a href="https://www.linkedin.com/in/mptouzel/">LinkedIn</a>
                    </p>
                  </div>
                </div>

                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                     ORGANIZER 2: Zachary Yang
                     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <div class="col-sm-4">
                  <div class="ratio ratio-4x3">
                    <div align="center">
                    <img src="images/portrait-of-zachary-yang.jpeg.webp" width="40%" alt="Organizer 2" class="img-rounded"/></div>
                    <div class="caption text-center">
                      <h4><a href="https://rstzzz.github.io/">Zachary Yang</a></h4>
                    </div>
                    <p>
                      <u>Zachary Yang</u> is a Staff Researcher at Ubisoft where he researches social aspects of gaming platforms.
                      <br>
                      <a href="https://rstzzz.github.io/">Website</a>,
                      <a href="https://scholar.google.com/citations?user=ljOxbowAAAAJ&hl=en">Google Scholar</a>,
                      <a href="https://www.linkedin.com/in/zachary-y-647209103/">LinkedIn</a>
                    </p>
                  </div>
                </div>

                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                     ORGANIZER 3: [Name]
                     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!--<div class="col-sm-4">
                  <div class="ratio ratio-4x3">
                    <img src="images/organizer3.jpg" width="85%" alt="Organizer 3" class="img-rounded"/>
                    <div class="caption text-center">
                      <h4><a href="[WEBSITE]">Organizer Name</a></h4>
                    </div>
                    <p>
                      <u>Organizer Name</u> bio text here...
                      <br>
                      <a href="[WEBSITE]">Website</a>,
                      <a href="[SCHOLAR]">Google Scholar</a>,
                      <a href="[LINKEDIN]">LinkedIn</a>
                    </p>
                  </div>
                </div> -->

              </div>
            </div>

          </div>
        </div>
      </div>
      <div align=center>
        <h3 style="text-align:center">Interested helping STAMINA grow?</h3>
        <br>
        Please spread the word by forwarding our Socials/events on your networks!
        <br>
        Want to join the STAMINA organization team? Send us an email.
        <br>
      </div>
    </div>
  </section>

<!--   ============================================================
       SECTION: SUPPORT
       ============================================================ -->
  <section id="partners" class="some-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="listing" style="clear:both;">
            <h3 style="text-align:center">We are grateful for the support from:</h3>
            <div class="container">
              <div class="row">
                <div class="col-sm-3">
                  <a href="https://mila.quebec/" target="_blank" rel="noopener noreferrer"><img src="images/milalogowebcoulrgb.png" width="85%" alt="Mila" class="img-rounded"/></a>
                </div>
                <div class="col-sm-3">
                  <a href="https://ivado.ca/" target="_blank" rel="noopener noreferrer"><img src="images/ivado-rgb_logo-full-degrade.png" width="85%" alt="ivado" class="img-rounded"/></a>
                </div>
                <div class="col-sm-3">
                  <a href="https://futureoflife.org/" target="_blank" rel="noopener noreferrer"><img src="images/fli_logo_white-300x204.png" width="55%" alt="fli" class="img-rounded"/></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ============================================================
       SCRIPTS
       ============================================================ -->
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.min.js"></script>
  <script src="js/scrolling-nav.js"></script>

</body>
</html>
